.level_A {
    background-color: #95F084;
}
.level_B {
    background-color: #FFE695;
}
.level_C {
    background-color: #FFAF6A;
}
.level_D {
    background-color: #FF5757;
}
.level_E {
    background-color: #9777FF;
}
.level_F {
    background-color: #AD1774;
}
.font-s {
    font-size: 22px !important;
}